

.contact-form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 100%;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-group textarea {
    resize: vertical;
}

.send-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-btn:hover {
    background-color: #0056b3;
}


.lets-Contact {
    text-align: center;
}

.lets-Contact > .contact-1 img{
    margin-left: 20%;
    width: 50px;
    height: 60px;
    
}


.contact-1 h3{
    text-align: center;
}

.lets-Contact > .contact-2 img {
    margin-left: 20%;
    width: 50px;
    height: 60px;
}



.contact-2 p{
    font-size: 15px;
    text-align: center;
}





  /* Mobile Small (up to 320px ) */
  @media screen and (max-width: 320px) {

    .contact-form-container {
        background-color: #fff;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 40%;
        max-width: 150%;
        margin-right: 10%;
        margin-left: 13%;
    }
  
    
    .send-btn:hover {
        background-color: black;
    }
    



  .lets-Contact > .contact-1 img{
    margin-left: 20%;
    width: 50px;
    height: 60px;
    
}


    .contact-1 h3{
    text-align: center;
}

   .lets-Contact > .contact-2 img {
    margin-left: 20%;
    width: 50px;
    height: 60px;
}



  .contact-2 p{
    font-size: 15px;
    text-align: center;
}

}


   /* Mobile Medium (up to 375px) */


@media screen and (min-width: 321px) and (max-width: 375px) {

    .contact-form-container {
        background-color: #fff;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 50%;
        max-width: 150%;
        margin-right: 10%;
        margin-left: 13%;
    }

   
    
    .send-btn:hover {
        background-color: black;
    }


    .lets-Contact > .contact-1 img{
        margin-left: 20%;
        width: 50px;
        height: 60px;
        
    }
    
    
    .contact-1 h3{
        text-align: center;
    }
    
    .lets-Contact > .contact-2 img {
        margin-left: 20%;
        width: 50px;
        height: 60px;
    }
    
    
    
    .contact-2 p{
        font-size: 16px;
        text-align: center;
    }
    


}


/* Mobile Large (up to 425px) */

@media screen and (min-width: 376px) and (max-width: 425px) { 

    .contact-form-container {
        background-color: #fff;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 60%;
        max-width: 150%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .send-btn {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .send-btn:hover {
        background-color: black;
    }


    .lets-Contact > .contact-1 img{
        margin-left: 20%;
        width: 50px;
        height: 60px;
        
    }
    
    
    .contact-1 h3{
        text-align: center;
    }
    
    .lets-Contact > .contact-2 img {
        margin-left: 20%;
        width: 60px;
        height: 60px;
    }
    
    
    
    .contact-2 p{
        font-size: 18px;
        text-align: center;
    }
    

}


/* Tab type divices */
/* done */
@media screen and (min-width: 426px) and (max-width: 768px) {

    .contact-form-container {
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width:70%;
        max-width: 150%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .send-btn {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 25x;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .send-btn:hover {
        background-color: black;
    }


    .lets-Contact > .contact-1 img{
        margin-left: 10%;
        width: 60px;
        height: 60px;
        
    }
    
    
    .contact-1 h3{
        text-align: center;
        font-size: 28px;
    }
    
    .lets-Contact > .contact-2 img {
        margin-left: 10%;
        width: 70px;
        height: 60px;
    }
    
    
    
    .contact-2 p{
        font-size: 20px;
        text-align: center;
    }

}

/* Laptop Type Devices */

@media screen and (min-width: 769px)  and (max-width: 1024px) {


    .contact-form-container {
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width:70%;
        max-width: 150%;
        margin-right: 10%;
        margin-left: 10%;
    }

    form h2 {
        font-size: 38px;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }
    

    .send-btn {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 28x;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .send-btn:hover {
        background-color: black;
    }



    .lets-Contact > .contact-1 img{
        margin-left: 8%;
        width: 80px;
        height: 70px;
        
    }
    
    
    .contact-1 h3{
        text-align: center;
        font-size: 35px;
    }
    
    .lets-Contact > .contact-2 img {
        margin-left: 7%;
        width: 80px;
        height: 60px;
    }
    
    
    
    .contact-2 p{
        font-size: 25px;
        text-align: center;
    }

}


/* Laptop Large */ 

@media screen  and (min-width: 1025px) and (max-width: 1440px) {


    .contact-form-container {
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width:70%;
        max-width: 180%;
        margin-right: 10%;
        margin-left: 10%;
    }

    form h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }
    

    .send-btn {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 28x;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .send-btn:hover {
        background-color: black;
    }


    .lets-Contact > .contact-1 img{
        margin-left: -11%;
        width: 80px;
        height: 70px;
        margin-right: 14%;
        
    }
    
    
    .contact-1 h3{
        text-align: center;
        font-size: 35px;
    }
    
    .lets-Contact > .contact-2 img {
        margin-left: -23%;
        width: 80px;
        height: 60px;
    }
    
    
    
    .contact-2 p{
        font-size: 25px;
        text-align: center;
    }

}

/* 4k-2560 */

@media screen  and (min-width: 1441px) and (max-width: 2560px) {


    .contact-form-container {
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        height: 50%;
        max-width: 180%;
        margin-right: 10%;
        margin-left: 10%;
    }

    form h2 {
        font-size: 42px;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }
    

    .send-btn {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 28x;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .send-btn:hover {
        background-color: black;
    }


    .lets-Contact > .contact-1 img{
        margin-left: -5%;
        width: 80px;
        height: 70px;
        margin-right: 6%;
        
    }
    
    
    .contact-1 h3{
        text-align: center;
        font-size: 40px;
    }
    
    .lets-Contact > .contact-2 img {
        margin-left: -12%;
        width: 80px;
        height: 60px;
    }
    
    
    
    .contact-2 p{
        font-size: 30px;
        text-align: center;
    }

}



