.skills-section{
 
    padding: 60px 0;
}


.skills-title{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.section-divider{
    width: 221px;
    margin: 15px auto;
    position: relative;

}

.divider-line{
    height: 6px;
    background-color: rgba(154, 150, 150, 0.65);
}

.divider-highlight {
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 15px;
    background-color: #0984e3;
    border-radius: 50px;
  }

  .skills-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 70px;
    width: 100%;
    /* justify-content: center; */

  }

  .skills-card{
    background-color: #282e33;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    width: 60%;
    margin:10%;
    
  }

  .skill-title{
    font-size: 100%;
    font-weight: 700;

  }
  .skill-desscription{
    font-size: 16px;
    margin-top: 17px;


  }
  .skill-icon{
    width: 40%;
    height: auto;
    margin-bottom: 35px;

  }
